<table>
	<tr>
	    <td width="400"> </td>
		<td valign="top" height="300">
			<%= error_messages_for :user %>
			<% form_for @user do |f| -%>
				<div id="email"><label for="login">Username <%= f.text_field :login  %></label><br/>
				
				<!--
				<p><label for="email">Recomanda site sau nume</label><br/>
				<%= f.text_field :email %> <%= submit_tag 'Update' %></p>
				-->
				<div id="email"><label for="password">Password <%= f.password_field :password %></label><br/>
				
				<div id="email"><label for="password_confirmation">Confirm Password <%= f.password_field :password_confirmation %></label><br/>
				
				<p><%= submit_tag 'Update' %></p>
			<% end -%>
		</td>
	<tr>
</table>