
<table>
	<tr>
	<td valign='top' width="400" height="400">   

    <% if logged_in? %>
    <!--
        <tr>
        <h2>Cereri</h2>
        </tr>    
    -->
    <div id="cereri">    
        
        
        <% current_user.friendships.each do |friendship| %>
        <ul>
          	  <li><div id="username">
          	  <% if friendship.status == "requested" %>
              <%= link_to "<image src='/images/hi.jpg'></image>",
               :controller => :friendships,
               :action => :accept,
               :id => friendship.friend.login %>
              <% else %>   
              <%= link_to "<image src='/images/bye.jpg'></image>",
               :controller => :friendships,
               :action => :reject,
               :id => friendship.friend.login %> 
              <% end %>
          	  <%= friendship.friend.login %></div></li>
          	  <li><div id="message"><%= friendship.friend.email %></div></li>
        </ul>   
        <% end %>  
    </div>
    <% end %>	
    
     
	</td>
	
<!--
  <tr>
    <td><h2>Oferte</h2></td>
  </tr>
-->
	<td valign='top'>

	<% if logged_in? %>
	
	<% search = User.login_or_email_like_all(current_user.email) %>
	<% search.all %>
	
	<div id="oferte">
	
		<ul>
			<% for user in search %>
  				<% if current_user != user %>
    				<li><div id="username">
    					<% if Friendship.are_friends(current_user, user) %> 
    						<%= link_to "<image src='/images/bye.jpg'></image>",
                  			:controller => :friendships,
                  			:action => :reject,
                  			:id => user.login %> <%=h user.login %>
                	<% elsif current_user != user && logged_in?%>
        					<%= link_to "<image src='/images/hi.jpg'></image>",
                  			:controller => :friendships,
                  			:action => :req,
                  			:id => user.login %> <%=h user.login %>
        			<% end %>
    				</div></li>
    				<li><div id="message"><%=h user.email %></div></li>
    			<% end %>    
  			<% end %>
		</ul>
		
	</div>	

	<% end %>
	
	</td>
	</tr>

</table>

