<table>

	<tr>
		<td valign="top">

			<%= error_messages_for :user %>
			<% form_for :user, :url => users_path do |f| -%>
            
			<div id="email">Researcher (Login) <%= f.text_field :login %></div>
			<div id="email"><label for="email">Initial search terms <%= f.text_field :email %></label></div>	
			<div id="email"><label for="password">Password <%= f.password_field :password %></label></div>
			<div id="email"><label for="password_confirmation">Confirm Password <%= f.password_field :password_confirmation %></label></div>
			<div id="email"><%= submit_tag 'Start' %></div>
			<% end -%>

		</td>
	<tr>
</table>
